@page
@model App.Pages.Order.PizzaPaneModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<h1>
    @Model.Pizza.Name
</h1>

<form method="post">
    Goodies:
    Knoblauch: <input asp-for="@(Model.FormModel.SelectedGoodies["garlic"])"/>
    Vollkorn: <input asp-for="@(Model.FormModel.SelectedGoodies["fullgrain"])"/>
    <input type="submit"/>
</form>
